h1{
    font-family: 'Electrolize', sans-serif;
    text-shadow:2px 2px black;

}

body {
    font-family: 'Fira Sans', sans-serif;
}

#map {
    height: 600px;
    border: 1px solid #ddd;
}

.form-control {
    box-shadow: 3px 3px 5px;
    background-color: #fff7ed;
}

#item0, #item1, #item2, #item3, #item4 {
    border-radius: 5px;
    border-width: 3px;
    border-color: black;
    margin-top: 5px;
}
/* Default styles for the map container */
.leaflet-container {
  width: 100%; /* Set the container to occupy the full width of its parent */
  height: 400px; /* Adjust the height as per your requirements */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .leaflet-container {
    height: 300px; /* Adjust the height for smaller screens */
  }
}